main{
    display: block;
    margin: auto;
}

h1{
    text-align: center;
}

.container{
    outline: 2px solid black;
    max-width: 60%;
    margin: auto;
}

#date-of-birth{
    display: block;
    margin: auto;
    width: 120px;
    padding: 0.3rem;
}

#lucky-number{
    display: block;
    margin: auto;
    width: 120px;
    padding: 0.3rem;
}

#check-button{
    display: block;
    margin: auto;
    padding: 0.5rem;
}

#input-label{
}